<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改${functionName}')" />
#foreach($column in $columns)
#if($column.edit && !$column.superColumn && !$column.pk && $column.htmlType == "datetime")
    <th:block th:include="include :: datetimepicker-css" />
#break
#end
#end
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-${businessName}-edit" th:object="${${className}}">
            <input name="${pkColumn.javaField}" th:field="*{${pkColumn.javaField}}" type="hidden">
#foreach($column in $columns)
#if($column.edit && !$column.pk)
#if(($column.usableColumn) || (!$column.superColumn))
#set($parentheseIndex=$column.columnComment.indexOf("["))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#set($field=$column.javaField)
#set($dictType=$column.dictType)
#if("" != $treeParentCode && $column.javaField == $treeParentCode)
            <div class="form-group">    
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                    <div class="input-group">
#set($BusinessName=$businessName.substring(0,1).toUpperCase() + ${businessName.substring(1)})
                        <input id="treeId" name="${treeParentCode}" type="hidden" th:field="*{${treeParentCode}}" />
                        <input class="form-control" type="text" onclick="select${BusinessName}Tree()" id="treeName" readonly="true" th:field="*{parentName}"#if($column.required) required#end>
                    </div>
                </div>
            </div>
#elseif($column.htmlType == "input")
            <div class="form-group">    
                <label class="col-sm-3 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8">
                    <input name="${field}" th:field="*{${field}}" class="form-control" type="text"#if($column.required) required#end>
                </div>
            </div>
#elseif(($column.htmlType == "select" || $column.htmlType == "radio") && "" != $dictType)
            <div class="form-group">    
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
#set($dictList="$"+"{@"+$dictType+"Mapper.selectAll()}")
#set($dictColumn=$dictType.replace("dict", ""))
#set($first_letter = $dictColumn.substring(0,1).toLowerCase())
#set($the_rest = $dictColumn.substring(1))
#set($dictColumn = ${first_letter} + ${the_rest})
#set($dictValue="$" + "{dict." + $dictColumn + "Name}")
                    <select name="${field}" class="form-control m-b" th:with="type=${dictList}"#if($column.required) required#end>
                      <option th:field="*{${field}}" th:each="dict : ${type}" th:text="${dictValue}" th:value="${dictValue}"></option>
                    </select>
                </div>
            </div>
#elseif($column.htmlType == "select" || $column.htmlType == "radio")
            <div class="form-group">    
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                    <select th:field="*{${field}}" name="${field}" class="form-control m-b"#if($column.required) required#end>
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
#elseif($column.htmlType == "tree" && "" != $dictType)
              <div class="form-group">
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                  <input th:field="*{${field}Id}" name="${dictClassName}Id"  id="treeId_${dictClassName}" type="hidden" />
                  <input th:field="*{${field}}" name="${column.javaField}" id="treeName_${dictClassName}" type="text" onclick="select${dictClassName}Tree()" readonly="true" >
                </div>
              </div>
            <th:block th:include="include :: tree('${moduleName}', '${dictClassName}', '${comment}')" />
#elseif($column.htmlType == "datetime")
            <div class="form-group">    
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="${field}" th:value="${#dates.format(${className}.${field}, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text"#if($column.required) required#end>
                    </div>
                </div>
            </div>
#elseif($column.htmlType == "textarea")
            <div class="form-group">
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                    <textarea name="${field}" class="form-control"#if($column.required) required#end>[[*{${field}}]]</textarea>
                </div>
            </div>
#end
#end
#end
#end
        </form>
    </div>
    <th:block th:include="include :: footer" />
#foreach($column in $columns)
#if($column.edit && !$column.superColumn && !$column.pk && $column.htmlType == "datetime")
    <th:block th:include="include :: datetimepicker-js" />
#break
#end
#end
    <script type="text/javascript">
        var prefix = ctx + "${moduleName}/${businessName}";
        $("#form-${businessName}-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-${businessName}-edit').serialize());
            }
        }
#foreach($column in $columns)
#if($column.edit && !$column.superColumn && !$column.pk && $column.htmlType == "datetime")

        $("input[name='$column.javaField']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
#end
#end
#if($table.tree)
    <th:block th:include="include :: tree('${moduleName}', '${businessName}', '${functionName}')" />
#end
</body>
</html>