<div th:fragment="menusa">
	<div id="hui-footer" >
		<a th:href="@{/api/zb/topage/voting}" id="nav-news">
			<div class="hui-footer-icons hui-icons-water-fall" style="color:#006000"></div>
			<div class="hui-footer-text" style="color:#006000">作品投票</div>
		</a>
		<a th:href="@{/api/zb/topage/rank}" onclick="changeBg()" id="nav-forum">
			<div class="hui-footer-icons hui-icons-tab" style="color:#fffff"></div>
			<div class="hui-footer-text" style="color:#fffff">排行榜</div>
		</a>
		<a th:href="@{/api/zb/topage/infor}" id="nav-forum">
			<div class="hui-footer-icons hui-icons-news" style="color:#fffff"></div>
			<div class="hui-footer-text" style="color:#fffff">活动说明</div>
		</a>
	</div> 
</div>
